h2{
    font-weight: bolder;
    font-size: 200%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.formContainer{
    background-color: black;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 5px 5px #000;
    color: white;
    padding: 50px;
}

form{
    background-color: #000;
}



input{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid grey;
    background-color: rgb(42, 39, 39); 
    color: white;  
    margin-top: 5px; 
}
 
input::placeholder{
    padding: 1px;    
}

select{
    border: 1px solid grey;
    background-color: rgba(42,39,39);
    border-radius: 8px;
    padding: 5px;
    width: 150px;
    color: grey;
    margin-top: 5px;
}
option{
    background-color: #000;
    padding: 10px;
}
.inputContainer{
    position: relative;
    margin-top:20px;
    margin-bottom: 5px;
}

textarea{
    width: 150px;
    border-color: grey;
    background-color:rgba(42,39,39);
    border-radius: 8px;
    padding: 5px;
    margin-top: 5px;
}

.contactImg{
   position: absolute;
   top: 50%;
   left: 70%;
   transform: translate(-50%,-50%); 
   z-index: 1;
}

.contactImg img{
    border-radius: 18px;
    background: none;

}
button{
    background-color: whitesmoke;
    color: black;
    font-weight: bolder;
    padding: 5px;
    border-radius: 8px;
    width: 150px;   
}