* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  background-color: black;
  color:white;
  border-color: grey;
  z-index: 1;
  overflow:hidden;
  font-size: medium;
}

.card {
  border: 1px solid;
  border-radius: 20px;
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 20px;
  text-align: center;
  background-color: #ddd;
 
}

.userIcon {
  background-color: black;
  display: flex;
  justify-self: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 100px;
  color: white;
  border: 1px solid;
  border-radius: 50%;
  padding: 10px;
}

.card p {
  display: flex;
}

.exeContainer {
  border: 1px solid;
  display: inline-block;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  padding: 15px;
  border-radius: 10px;
}

.exeContainer #myMotivation {
  color: coral;
}

#alert {
  color: red;
}

/* faq-accordion styling */
.accordion-container{
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.accordion-item{
  border-bottom: 1px solid #ccc;
}

.accordion-item:last-child{
  border-bottom: none;
}

.accordion-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: #f9f9ff;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
}

.accordion-title:hover{
  background-color: #f1f1f1;
}

.accordion-content{
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #eee;
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  }

  .accordion-item:not(.isOpen) .accordion-content{
    max-height: 0;
  }