*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.card{
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    top:5%;
    left: 5%;
    padding: 20px;
    text-align: center;
    background-color:#ddd; 
}

.userIcon{
    background-color: black;
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    color: white; 
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
}

.card p{
     display: flex;
       
}